BasedOnStyle: Microsoft
AlignAfterOpenBracket: DontAlign
AccessModifierOffset: 0
IndentCaseLabels: true
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: false