BasedOnStyle: Microsoft
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AccessModifierOffset: 0
IndentCaseLabels: true
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: false
AllowAllArgumentsOnNextLine: false